.App-redeem-page {
  display: flex;
  justify-content: center;
}

.App-redeem-page_nfts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
}

.App-redeem-page_nft {
  margin: 20px 0;
  margin-left: 20px;
}

.App-redeem-page_nft-redeem-key {
  font-weight: bold;
  word-break: break-all;
}