.App-redeem-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-redeem-page_nfts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
}

.App-redeem-page_nft {
  margin: 20px 0;
  margin-left: 20px;
}

.App-redeem-page_nft-redeem-key {
  font-weight: bold;
  text-align: left;
  word-break: break-all;
}

.App-redeem-page_tips,
.App-redeem-page_no-nfts {
  margin-top: 80px;
  font-size: 32px;
}
